__pychache__/
django_project/__pychache__/
django_project/django_project/__pychache__/
django_project/blog/__pychache__/
*.py[cod]
django_project/users/__pycache__/
venv/
db.sqlite3
django_project/settings.py
additional_files/
blog/migrations/
django_project/migrations/
users/migrations/

