{% extends "blog/base.html" %}
{% block content %}
<h1>About Page</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">What does T mean?</h5>
        <p class="card-text">
            T means <span class="text-primary">thoughtful</span>, T means <span class="text-danger">thoughtless</span>,
            T can mean <span class="text-success">take-off</span>. T is
            any thing you want.
        </p>
        <a href="{% url 'blog-home' %}" class="btn btn-danger">Go To Home</a>
    </div>
</div>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading"> Announcements!</h4>
    <p>Looks like no announcements for now!</p>
</div>
{% endblock content %}